---
import { Icon } from 'astro-icon/components'

const { src = '/astronaut-hero-img.svg' } = Astro.props
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-8xl">
          <slot>Build<span class="text-gradient">Key </span>with AI</slot>
        </h1>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a class="button has-icon" href="https://github.com/markteekman/accessible-astro-starter">
            <Icon name="ion:star-outline" />
            Star on GitHub
          </a>
          <a
            class="button has-icon color-secondary"
            href="https://urstrulykkr-buildkey-ai-app-wvniom.streamlit.app/"
          >
            <Icon name="ion:bookmark-outline" />
            Search With Copilot
          </a>
        </div>
      </div>
      <img class="hidden lg:block" src={src} alt="" decoding="async" />
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: #FF6363 25%;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: #FF6363 25%;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
